.task-input{
    display: flex;
    gap: 10px;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    margin: 10px 20px;
    flex-wrap: wrap;
}

::placeholder{
    opacity: 0.6;
}

#taskInput{
    flex-grow: 1;
    padding: 16px 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    font-weight: 500;
}

button#addBtn {
    border: none;
    outline: none;
    min-width: 100px;
    padding: 16px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 40px;
}
